*,
*:before,
*:after{box-sizing:border-box}

body{font-family: 'Open Sans',sans-serif; color:#fff;}

p{margin:4rem 0; font-family: 'Open Sans',sans-serif;}

.wrapper{max-width:100%}

.section,.article{
	position: relative;
	overflow:hidden;
}

.article{padding: 3rem 2rem;}

.ratio-height{
	height:0;
	padding-top:62%;
	position: relative;
}

.abs{
	width:45%;
	margin:1rem;
	position: absolute;
	padding: 2rem;
	top:5%;
	background-color: rgba(0,0,0,0.3);
	color:#fff;
}

.abs-r{right:2.5%}

.abs-l{left:2.5%}

.in-view:after{
	background-color: rgba(15,214,156,0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.backgrounded{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: scroll;
}

.land{background-image: url(../img/landscape.jpg)}
.sea{background-image: url(../img/sea.jpg)}

/*STYLING*/

.title-container{
	text-align: center;
	padding:3rem;
}

.h1,.h2{
	font-weight:700;
	font-size: 4rem;
	color:#fff;
	text-transform: uppercase;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

.h2{
	font-size: 2.75rem;
}

blockquote{
	position:relative;
	color:#4a4a4a;
	font-style:italic;
	font-weight:300;
	font-size:1.875rem;
	margin:3rem auto;
	quotes: "\201C""\201D""\2018""\2019";
	width:80%;
	text-align: center;
}

blockquote:before,
blockquote:after {
  color: #4a4a4a;
  content: open-quote;
  font-size: 3em;
  line-height: 0.2;
  margin-right: 0.25em;
  vertical-align: middle;
}

blockquote:after {
	content: close-quote;
}

@media screen and (max-width: 768px) {
	.abs{width:100%;}
}